<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-pestanas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `element-pestanas`
     * Se creara el elemento que se encargara para el funcionamiento de las pestañas
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementPestanas extends Polymer.Element {
      static get is() { return 'element-pestanas'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'element-pestanas'
          }
        };
      }
    }

    window.customElements.define(ElementPestanas.is, ElementPestanas);
  </script>
</dom-module>
