<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-pestanas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <center><h2>Transacciones</h2></center>
    <table style="width:100%" border="1">
      <template is='dom-repeat' items="{{elementos}}">
        <td>
          <button on-click="botonPresionado">[[item.pestana]]</button><!--Se puede trabajar con solo item pero se tiene que acomodar diferente-->
        </td>
      </template>
  </table>
  </template>

  <script>
    /**
     * `element-pestanas`
     * Un controlador de pestañas dentro de la ventana principal
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementPestanas extends Polymer.Element {
      static get is() { return 'element-pestanas'; }
      static get properties() {
        return {
          elementos: {
            value(){
              return[
                {pestana:'Pestaña 1'},      //si acomodo el llamado con solo item entonces no lo declaro mi arreglo asi
                {pestana:'Pestaña 2'},      //seria asi 'Pestaña 1', 'Pestaña 2', etc....
                {pestana:'Pestaña 3'}
              ];
            }
      
          }
        };
      }/*
      botonPresionado(){
        alert("Boton presionado ");
      }*/
      botonPresionado(e) {
        this.dispatchEvent(new CustomEvent('my-element', {        
          detail: {
            pestana: e.model.__data.index
          }
        }));
        //console.log("El valor de la pestaña es: "+pestania);
      }
    }
    document.querySelector('element-pestanas').addEventListener('my-element', function (e) {
        //alert(e.detail.pestana);
        let valor = e.detail.pestana
        switch(valor){
          case 0:
            //alert("Estoy en la pestaña de la izquierda"); 
            console.log("Estoy en la pestaña de la izquierda");
            
            break;
          case 1:
            //alert("Estoy en la pestaña del centro");
            console.log("Estoy en la pestaña del centro");
            break;
          case 2:
            //alert("Estoy en la pestaña de la derecha");
            console.log("Estoy en la pestaña de la derecha");
            break;
          default:
            alert("¿Donde estas?");
            break;
        }
   })
    window.customElements.define(ElementPestanas.is, ElementPestanas);
  </script>
</dom-module>
